/* ---------------------------
       initials
--------------------------- */
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@500;600;700;800;900&family=Work+Sans:wght@400;500;600;700&display=swap");
/* for removing default browser spacings */
.hide {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
}
/* ---- prerequisites ---- */
ul,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
/* fonts and typhography */
h1 {
  font-family: "playfair display", serif;
  font-size: 4rem;
  color: #131313;
  font-weight: 700;
}
h2 {
  font-family: "work sans", sans-serif;
  font-size: 2.8125rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 1.5rem;
}
h3,
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "work sans", sans-serif;
  color: #131313;
  margin-bottom: 0.625rem;
}
h4 {
  color: #727272;
  margin-bottom: 0;
}
p {
  color: #727272;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  font-family: "inter", sans-serif;
}
/* ---- utility classes ---- */
.container {
  max-width: 90rem;
  margin: 0 auto;
}
.section-padding {
  padding-block: 8rem;
}
.btn-primary {
  padding: 1.25rem 1.5rem;
  border-radius: 0.3125rem;
  color: white;
  background-color: #ff900e;
  font-family: "work sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
}

/* ---------------- styling starts from here ---------------- */

/* ---------------------------
      Navbar stylings
--------------------------- */
#navbar {
  padding-block: 1.875rem;
  background: rgb(255, 243, 230);
  border-bottom: 2px solid rgba(119, 62, 1, 0.03);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .logo h2 {
  margin-bottom: 0;
}
.nav-container .menus ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.125rem;
  font-family: "inter", sans-serif;
  font-weight: 500;
}
.nav-container .menus li:nth-child(4) a {
  background-color: #ff900e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
}
/* ---------------------------
    hero section styling
--------------------------- */
#hero-section {
  padding-block: 5rem;
  background: rgb(255, 243, 230);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 48rem;
  text-align: center;
}
.hero-banner img {
  max-width: 100%;
}
/* ---------------------------
    team section styling
--------------------------- */
.team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.team-grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.team-content p {
  margin-bottom: 2rem;
}
/* ---------------------------
    features section styling
--------------------------- */
.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;
}
.features-content-heading {
  margin-bottom: 2rem;
}
.features-content-heading h2 {
  padding-left: 1.5rem;
  border-left: 5px solid #ff900e;
  max-width: 30rem;
}
.features-content-cards .card {
  border-radius: 0.3125rem;
  background: #fff;
  padding: 1.5rem;
  border: 1px solid rgb(241, 241, 241);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.25rem;
}
.features-img-container {
  position: relative;
}
.img-card {
  background-color: #ff900e;
  width: 20rem;
  text-align: center;
  padding: 3rem;
  border-radius: 0.625rem;
  position: absolute;
  bottom: -3.75rem;
  left: -5.9375rem;
}
.img-title {
  margin: 0;
  color: white;
  font-size: 3.4375rem;
}
.img-card p {
  font-size: 1.5625rem;
  margin-top: 0.625rem;
  color: white;
}
/* -------------------------------------
    achievement section styling
------------------------------------- */
.achievement-content p {
  margin-bottom: 4rem;
  max-width: 34rem;
}
.achievement-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.achievement-card {
  width: 15rem;
  height: 15rem;
  text-align: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid #ff900e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.achievement-card:last-child img {
  width: 46px;
  height: 46px;
}
.achievement-card h2 {
  margin-bottom: 0;
  color: #424242;
  font-weight: 600;
  margin-block: 0.625rem;
}
/* ---------------------------
    sponsor section styling
--------------------------- */
.sponsor-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.sponsor-content {
  text-align: center;
  padding: 0 28rem;
}
.sponsor-companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  filter: grayscale(1);
}
/* ---------------------------
    footer section styling
--------------------------- */
footer {
  margin-top: 6rem;
}
.footer-container {
  border-radius: 8px;
  background: #fff4e7;
  text-align: center;
  padding: 2rem;
}
.footer-container p {
  font-size: 1.25rem;
  color: #424242;
}

/* -------------------------------------
          Responsive section
------------------------------------- */

/* ------------------ for mobile ------------------ */
@media screen and (max-width: 576px) {
  /* utility and reusable codes */
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  .section-padding {
    padding-block: 5rem;
  }
  .container {
    max-width: auto;
    margin: 0;
    padding: 0 2rem;
  }
  .btn-primary {
    padding: 14px 16px;
    font-size: 1.125rem;
  }
  /* ---------------------------
        navbar responsive
  --------------------------- */
  .nav-container .menus li:nth-child(1),
  .nav-container .menus li:nth-child(2),
  .nav-container .menus li:nth-child(3) {
    display: none;
  }
  /* ---------------------------
      team section responsive
  --------------------------- */
  .team-container {
    flex-direction: column;
  }
  .team-grid-img img {
    max-width: 100%;
  }
  /* ---------------------------
    features section responsive
  --------------------------- */
  .features-container {
    flex-direction: column-reverse;
  }
  .features-img-container > img {
    max-width: 100%;
  }
  .img-card {
    background-color: #ff900e;
    width: 14rem;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.625rem;
    position: absolute;
    bottom: -3.75rem;
    left: 25%;
  }
  .img-title {
    font-size: 2.3rem;
  }
  .img-card p {
    font-size: 1.3rem;
  }
  /* --------------------------------
    achievement section responsive
  -------------------------------- */
  .achievement-card-container {
    flex-direction: column;
    gap: 2rem;
  }
  .achievement-card {
    width: 100%;
  }
  /* ---------------------------
    sponsor section responsive
  --------------------------- */
  .sponsor-companies {
    justify-content: center;
  }
  .sponsor-content {
    padding: 0;
  }
  .sponsor-companies {
    flex-direction: column;
    gap: 50px 0;
  }
  /* ---------------------------
    footer section responsive
  --------------------------- */
  .footer-container p {
    font-size: 1rem;
  }
}

/* ---------------- for tablet medium ---------------- */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* utility and reusable codes */
  .section-padding {
    padding-block: 6rem;
  }
  .container {
    max-width: 700px;
  }
  /* ---------------------------
        navbar responsive
  --------------------------- */
  .nav-container .menus li:nth-child(1),
  .nav-container .menus li:nth-child(2),
  .nav-container .menus li:nth-child(3) {
    display: none;
  }
  /* ---------------------------
      team section responsive
  --------------------------- */
  .team-container {
    flex-direction: column;
  }
  .team-grid-img img {
    max-width: 100%;
  }
  /* ---------------------------
    features section responsive
  --------------------------- */
  .features-container {
    flex-direction: column-reverse;
  }
  .features-img-container > img {
    max-width: 100%;
  }
  .img-card {
    bottom: -3.75rem;
    left: 50%;
  }
  /* --------------------------------
      achievement section responsive
  -------------------------------- */
  .achievement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .achievement-card-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .achievement-content {
    text-align: center;
  }
  .achievement-card {
    width: 20.375rem;
  }
  /* ---------------------------
    sponsor section responsive
  --------------------------- */
  .sponsor-companies {
    justify-content: center;
  }
  .sponsor-content {
    padding: 0 6rem;
  }
  .sponsor-companies {
    flex-wrap: wrap;
    gap: 60px;
  }
}

/* ---------------- for tablet big ---------------- */
@media screen and (min-width: 769px) and (max-width: 1280px) {
  /* utility and reusable codes */
  .section-padding {
    padding-block: 6.5rem;
  }
  .container {
    max-width: 940px;
  }
  /* ---------------------------
      team section responsive
  --------------------------- */
  .team-container {
    flex-direction: column;
  }
  .team-grid-img {
    width: 100%;
  }
  .team-grid-img img {
    width: 100%;
  }
  /* ---------------------------
    features section responsive
  --------------------------- */
  .features-container {
    flex-direction: column-reverse;
  }
  .features-img-container > img {
    max-width: 100%;
  }
  .features-content-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .img-card {
    bottom: -3.75rem;
    left: 50%;
  }
  /* --------------------------------
      achievement section responsive
  -------------------------------- */
  .achievement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .achievement-content {
    text-align: center;
  }
  .achievement-card-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .achievement-card {
    width: 17rem;
  }
  /* ---------------------------
    sponsor section responsive
  --------------------------- */
  .sponsor-companies {
    justify-content: center;
  }
  .sponsor-content {
    padding: 0 14rem;
  }
  .sponsor-companies {
    flex-wrap: wrap;
    gap: 60px;
  }
}
