/* ---------------------------
       initials
--------------------------- */
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@500;600;700;800;900&family=Work+Sans:wght@400;500;600;700&display=swap");
/* for removing default browser spacings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
}
/* ---- prerequisites ---- */
ul,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
/* fonts and typhography */
h1 {
  font-family: "playfair display", serif;
  font-size: 4rem;
  color: #131313;
  font-weight: 700;
}
h2 {
  font-family: "work sans", sans-serif;
  font-size: 2.8125rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 1.5rem;
}
h3,
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "work sans", sans-serif;
  color: #131313;
  margin-bottom: 0.625rem;
}
h4 {
  color: #727272;
  margin-bottom: 0;
}
p {
  color: #727272;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  font-family: "inter", sans-serif;
}
/* ---- utility classes ---- */
.container {
  max-width: 90rem;
  margin: 0 auto;
}
.btn-primary {
  padding: 1.25rem 1.5rem;
  border-radius: 0.3125rem;
  color: white;
  background-color: #ff900e;
  font-family: "work sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
}

/* ---------------- styling starts from here ---------------- */

/* ---------------------------
      Navbar stylings
--------------------------- */
#navbar {
  padding-block: 1.875rem;
  background: rgba(255, 144, 14, 0.1);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .logo h2 {
  margin-bottom: 0;
}
.nav-container .menus ul {
  display: flex;
  align-items: center;
  gap: 4.375rem;
  font-size: 1.125rem;
  font-family: "inter", sans-serif;
  font-weight: 500;
}
/* ---------------------------
    hero section styling
--------------------------- */
#hero-section {
  padding-block: 5rem;
  background: rgba(255, 144, 14, 0.1);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 48rem;
  text-align: center;
}
.hero-banner img {
  max-width: 100%;
}
/* ---------------------------
    team section styling
--------------------------- */
#team-section {
  padding-block: 8rem;
}
.team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.team-grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.team-content p {
  margin-bottom: 2rem;
}
/* ---------------------------
    features section styling
--------------------------- */
#features {
  padding-block: 8rem;
}
.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;
}
.features-content-heading {
  margin-bottom: 2rem;
}
.features-content-heading h2 {
  padding-left: 1.5rem;
  border-left: 5px solid #ff900e;
  max-width: 30rem;
}
.features-content-cards {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.features-content-cards .card {
  border-radius: 0.3125rem;
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-img-container {
  position: relative;
}
.img-card {
  background-color: #ff900e;
  width: 20rem;
  text-align: center;
  padding: 3rem;
  border-radius: 0.625rem;
  position: absolute;
  bottom: -3.75rem;
  left: -5.9375rem;
}
.img-title {
  margin: 0;
  color: white;
  font-size: 3.4375rem;
}
.img-card p {
  font-size: 1.5625rem;
  margin-top: 0.625rem;
  color: white;
}
/* -------------------------------------
    achievement section styling
------------------------------------- */
#achievement {
  padding-block: 8rem;
}
.achievement-content p {
  margin-bottom: 4rem;
  max-width: 34rem;
}
.achievement-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.achievement-card {
  width: 15rem;
  height: 15rem;
  text-align: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid #ff900e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.achievement-card:last-child img {
  width: 46px;
  height: 46px;
}
.achievement-card h2 {
  margin-bottom: 0;
  color: #424242;
  font-weight: 600;
  margin-block: 0.625rem;
}
/* ---------------------------
    sponsor section styling
--------------------------- */
#sponsor {
  padding-block: 8rem;
}
.sponsor-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.sponsor-content {
  text-align: center;
  padding: 0 28rem;
} 
.sponsor-companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: grayscale(1);
}